
            <a href="/categoria/3" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                Apple
            </a>
            <a href="/categoria/4" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                Google
            </a>
            <a href="/categoria/5" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                Motorola
            </a>
            <a href="/categoria/6" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                Samsung
            </a>
            <a href="/categoria/7" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                Xiaomi
            </a>
            <a href="/categoria/8" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                Zenfone
            </a>