
            <li class="p-b-10">
                <a href="/categoria/3" class="stext-107 cl7 hov-cl1 trans-04">
                    Apple
                </a>
            </li>
            <li class="p-b-10">
                <a href="/categoria/4" class="stext-107 cl7 hov-cl1 trans-04">
                    Google
                </a>
            </li>
            <li class="p-b-10">
                <a href="/categoria/5" class="stext-107 cl7 hov-cl1 trans-04">
                    Motorola
                </a>
            </li>
            <li class="p-b-10">
                <a href="/categoria/6" class="stext-107 cl7 hov-cl1 trans-04">
                    Samsung
                </a>
            </li>
            <li class="p-b-10">
                <a href="/categoria/7" class="stext-107 cl7 hov-cl1 trans-04">
                    Xiaomi
                </a>
            </li>
            <li class="p-b-10">
                <a href="/categoria/8" class="stext-107 cl7 hov-cl1 trans-04">
                    Zenfone
                </a>
            </li>