<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg m-t-80">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Loja
            <i class="fa fa-angle-right m-l-9 m-r-10"></i>
        </a>
        <a href="/conta" class="stext-109 cl8 hov-cl1 trans-04">
            Minha Conta
            <i class="fa fa-angle-right m-l-9 m-r-10"></i>
        </a>
        <span class="stext-109 cl4">
            Alterar Senha
        </span>
    </div>
</div>
<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-lg-10 col-xl-10 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <div class="row">
                        <div class="col-12">
                            <div class="row m-b-30">
                                <div class="col-12">
                                    <h1>Alterar Senha</h1>
                                </div>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="/conta" role="tab">Editar Dados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/conta/alterar-senha" role="tab">Alterar Senha</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/conta/pedidos" role="tab">Meus Pedidos</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" role="tabpanel">
                                    <div class="row m-t-40">
                                        <div class="col-12">
                                            <form action="/conta/alterar-senha" method="post">
                                                <label for="current_pass">Senha Atual:</label>
                                                <div class="bor8 bg0 m-b-22">
                                                    <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="password" name="current_pass" id="current_pass" placeholder="Digita sua senha atual" required>
                                                </div>
                                                <label for="new_pass">Nova Senha:</label>
                                                <div class="bor8 bg0 m-b-22">
                                                    <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="password" name="new_pass" id="new_pass" placeholder="Digita sua nova senha" required>
                                                </div>
                                                <label for="new_pass_confirm">Confirme a Nova Senha:</label>
                                                <div class="bor8 bg0 m-b-22">
                                                    <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="password" name="new_pass_confirm" id="new_pass_confirm" placeholder="Confirme a nova senha" required>
                                                </div>
                                                {if="$changePassError != ''"}
                                                <div class="alert alert-danger rounded-0" role="alert">
                                                    <strong>Oops!</strong> {$changePassError}
                                                </div>
                                                {/if}
                                                {if="$changePassSuccess != ''"}
                                                <div class="alert alert-success rounded-0" role="alert">
                                                    <strong>Uhuul!</strong> {$changePassSuccess}
                                                </div>
                                                {/if}
                                                <div class="m-b-22">
                                                    <button type="submit" class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
                                                        Alterar
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>